:root {
  /* General */
  --background-color: #fff;
  --font-color: #000;
  /* Navbar */
  --nav-bg-color: #fff;
  --nav-font-color: #7f7f7f;
  /* Cards */
  --card-bg-color: #fff;
  --card-font-color: #000;
  /* Scrollbar */
  --scrollbar-color: #424242;
  --scrollbar-hover-color: #555;
  --scrollbar-track-color: #757575;
  /* Loading Spinner */
  --spinner-color: #66BB6A;
  /* Vegetarian */
  --vegi-card-border-color: #66BB6A;
  --vegi-card-icon-color: #66BB6A;
  /* Footer */
  --footer-font-color: #fff;
  --footer-background-color: #66BB6A;
  --footer-button-bg-color: #fff;
  --footer-button-font-color: #000;
  /* Copyright below Footer */
  --copyright-background-color: #61B066;
  --copyright-font-color: #fff;
}