body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--font-color);
}

.fivemoods-nav {
    background-color: var(--nav-bg-color) !important;
    color: var(--nav-font-color) !important;
}

.card {
    background-color: var(--card-bg-color)!important;
    color: var(--card-font-color)!important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-color);
}

#output, .card {
    animation: fadeIn 0.7s;
}

.col.s6 {
    width: 50%;
    float: left;
    padding: 0 5px;
}

@media only screen and (max-width:1580px) {
    .card-content {
        min-height: 260px !important
    }
}

@media only screen and (max-width:1200px) {
    .card-content {
        min-height: 265px !important
    }
}

@media only screen and (max-width:900px) {
    .card-content {
        min-height: 290px !important
    }
}

@media only screen and (max-width:850px) {
    .col.s6 {
        width: 100%;
        float: none;
    }

    .card-content {
        min-height: inherit !important;
        padding-bottom: 40px!important;
    }
}

@media only screen and (min-width: 1300){
    .container {
        width: 70%!important;
    }
}

@media only screen and (min-width: 993px){
    .container {
        width: 85%!important;
    }
}

h4,
h5 {
    margin: 0;
    padding-top: 11px;
    padding-bottom: 5px
}

.card-content {
    min-height: 245px
}

.price {
    float: right;
    font-size: 1.35em;
    font-weight: 500
}

div.card-action {
    padding: 0 !important
}

.description,
.descr,
.ds {
    padding-top: 5px
}

.herkunft {
    position: absolute;
    bottom: 0;
    padding-bottom: 12px;
    font-size: .9em;
}

.brand-logo,
li a {
    color: var(--nav-font-color) !important
}

.nav-wrapper .brand-logo img {
    height: 64px
}

#navlogobar {
    width: 228px;
    text-align: left;
}

#navimage {
    position: absolute;
    top: 0;
    width: 64px;
    float: left;
}

#navtitle {
    text-align: right;
    padding-left: 64px;
}

@media (max-width:600px) {
    .nav-wrapper .brand-logo img {
        height: 56px
    }
}

@media (min-width:1199px) {
    #navlogobar {
        width: 233px;
        text-align: left;
    }
}

.weekdayimg {
    height: 44px;
    float: left;
    border-radius: 9px;
}

#loader {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding-top: 100px;
}

#loader-spinner{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,var(--spinner-color) 94%,#0000) top/8px 8px no-repeat, conic-gradient(#0000 30%,var(--spinner-color));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
  mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
}

@keyframes s3{ 
    100%{transform: rotate(1turn)}
}

div.container{
    flex: 1 0 auto;
}

.vegi-card .card-content{
    border: 1.5px solid var(--vegi-card-border-color);
}

.vegi i{
    color: var(--vegi-card-icon-color);
}

td, th {
    padding: 1px 0px !important;
}

ul {
    padding-inline-start: 25px;
}

.more-info-btn {
    /* dont allow text highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#footer {
    background-color: var(--footer-background-color);
    color: var(--footer-font-color);
}

#install-button{
    background-color: var(--footer-button-bg-color);
    color: var(--footer-button-font-color);
}

#footer-copyright, #footer-copyright-text{
    background-color: var(--copyright-background-color);
    color: var(--copyright-font-color);
}